{% extends "admin/admin_base.html" %}
{% load static %}
{% block content %}
  <!-- Start Pricing  Area -->
  <section id="pricing" class="pricing-area pricing-fourteen">
    <div class="justify-content-center align-items-center d-flex m-3 pt-4">
      <a href="/dating/admin-dashboard"><button type="button" class="btn btn-sm btn-outline-info">&larr;</button></a>
    </div>
    <!--======  Start Section Title Five ======-->
    <div class="section-title-five mt-4 pt-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h2 class="fw-bold">Appointment Requests</h2>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="align-items-center justify-content-center flex-wrap d-flex">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="pricing-style-fourteen middle">
              <div class="table-head">
                <h6 class="title">View Available Appointments</h6>
                  <!-- <p>Lorem Ipsum is simply dummy text of the printing and industry.</p> -->
              </div>
  
              <div class="light-rounded-buttons">
                <a href="/dating/admin-view-appointment" class="btn primary-btn">
                  Explore
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="pricing-style-fourteen middle">
              <div class="table-head">
                <h6 class="title">Approve Appointments</h6>
                  <!-- <p>Lorem Ipsum is simply dummy text of the printing and industry.</p> -->
              </div>
  
              <div class="light-rounded-buttons">
                <a href="/dating/admin-approve-appointment" class="btn primary-btn">
                  Explore
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--/ End Pricing  Area -->
{% endblock content %}
