{% extends "admin/admin_base.html" %}
{% load static %}
{% block content %}

<div class="container pt-3 mt-3">
  <div class="container">
    <h1 class="text-center bold">Admin Dashboard</h1>
    <hr>
    <div class="row">

        <div class="col-md-4 col-xl-4">
            <a href="/dating/admin-client">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-white">Total Clients</h6>
                    <h2 class="text-right text-white"><i class="fa fa-rocket f-left text-white"></i><span>{{clientUsersCount}}</span></h2>
                    <p class="m-b-0 text-white">Active Clients<span class="f-right">{{clientUsersCount}}</span></p>
                </div>
            </div>
        </a>
        </div>
        
        <div class="col-md-4 col-xl-4">
            <a href="/dating/admin-appointment">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-white">Total Requests</h6>
                    <h2 class="text-right text-white"><i class="fa fa-refresh f-left text-white"></i><span>{{appointmentcount}}</span></h2>
                    <p class="m-b-0 text-white">Consultation Requests<span class="f-right">{{pendingappointmentcount}}</span></p>
                </div>
            </div>
        </a>
        </div>
        
        <div class="col-md-4 col-xl-4">
            <a href="/dating/admin-messages">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-white">Total Messages</h6>
                    <h2 class="text-right text-white"><i class="fa fa-envelope f-left"></i><span>{{messagescount}}</span></h2>
                    <p class="m-b-0 text-white">Unread Messages<span class="f-right">{{pendingmessagescount}}</span></p>
                </div>
            </div>
        </a>
        </div>
	</div>
</div>
</div>

{% endblock content %}