{% extends "admin/admin_base.html" %}
{% load static %}
{% block content %}
<style>
    body{
      margin-top:20px;
      background:#FAFAFA;
  }
  .order-card {
      color: #fff;
  }

  .bg-c-green {
      background: linear-gradient(45deg,#19947b,rgb(96, 170, 173));
  }

  
  
  .card {
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(116, 136, 163, 0.16);
      box-shadow: 0 1px 2.94px 0.06px rgba(97, 122, 124, 0.16);
      border: none;
      margin-bottom: 30px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  
  .card .card-block {
      padding: 25px;
  }
  
  .order-card i {
      font-size: 26px;
  }
  
  .f-left {
      float: left;
  }
  
  .f-right {
      float: right;
  }
  </style>
<div class="container pt-3 mt-3">
  <div class="container">
    <h1 class="text-center bold">Admin Dashboard</h1>
    <hr>
    <div class="row">

        <div class="col-md-4 col-xl-4">
            <a href="/dating/admin-client">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-white">Total Clients</h6>
                    <h2 class="text-right text-white"><i class="fa fa-rocket f-left text-white"></i><span>{{clientUsersCount}}</span></h2>
                    <p class="m-b-0 text-white">Active Clients<span class="f-right">{{clientUsersCount}}</span></p>
                </div>
            </div>
        </a>
        </div>
        
        <div class="col-md-4 col-xl-4">
            <a href="/dating/admin-appointment">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-white">Total Requests</h6>
                    <h2 class="text-right text-white"><i class="fa fa-refresh f-left text-white"></i><span>{{appointmentcount}}</span></h2>
                    <p class="m-b-0 text-white">Consultation Requests<span class="f-right">{{pendingappointmentcount}}</span></p>
                </div>
            </div>
        </a>
        </div>
        
        <div class="col-md-4 col-xl-4">
            <a href="/dating/admin-messages">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-white">Total Messages</h6>
                    <h2 class="text-right text-white"><i class="fa fa-envelope f-left"></i><span>{{messagescount}}</span></h2>
                    <p class="m-b-0 text-white">Unread Messages<span class="f-right">{{pendingmessagescount}}</span></p>
                </div>
            </div>
        </a>
        </div>
	</div>
</div>
</div>

{% endblock content %}