{% extends "admin/admin_base.html" %}
{% block content %}


<div class="justify-content-center align-items-center d-flex my-5 pt-5 mt-5">
  <a href="/dating/admin-messages"><button type="button" class="btn btn-outline-info">&larr;</button></a>
</div>
<div class="container pt-3 mt-3">
  <div class="panel">
    <div class="panel-heading">
      <h4 class="text-white text-center">Inbox</h4>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Sender</th>
          <th>Content</th>
          <th>Time</th>
          <th>Read</th>
          <th>Cancel</th>
          <th>Reply</th>
        </tr>
      </thead>
      {% for message in messages %}
      <tr>
        <td>{{message.sender}}</td>
        <td><a href="/dating/message/{{message.id}}">{{message.content}}</a></td>
        <td>{{message.timestamp}}</td>
        <td><a class="btn btn-success btn-xs" href="/dating/approve-messages/{{message.id}}"><i class="fa fa-check-square-o" aria-hidden="true"></i></a></td>
        <td><a class="btn btn-danger btn-xs" href="/dating/reject-messages/{{message.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
        <td><a class="btn btn-primary btn-xs" href="/dating/admin-send-messages"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No Available Messages yet..</td>
      </tr>
      {% endfor %}
    </table>
    <a class="btn btn-sm my-2" href="/dating/admin-messages"></a>
  </div>


</div>


{% endblock content %}
