{% extends "admin/admin_base.html" %}
{% block content %}

<head>


  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }
  </style>
</head>
<div class="justify-content-center align-items-center d-flex my-5">
  <a href="/dating/admin-appointment"><button type="button" class="btn btn-outline-info">&larr;  Back</button></a>
</div>
<div class="container align-items-center justify-content-center p-3" style="background: linear-gradient(45deg,#6c7e4b,#73b4ff);">
    <div class="panel-heading">
      <h4 class="text-white text-center">Available Appointments</h4>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Client Name</th>
          <th>Consultancy Category</th>
          <th>Description</th>
          <th>Request Date</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for appointment in appointments %}
      <tr>
        <td>{{appointment.client}}</td>
        <td>{{appointment.category}}</td>
        <td>{{appointment.description}}</td>
        <td>{{appointment.appointmentDateTime}}</td>
        {% if appointment.status %}
        <td> <span class="btn btn-sm btn-success">Approved</span></td>
        {% else %}
        <td> <span class="btn btn-sm btn-warning">Pending</span></td>
        {% endif %}
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No Available Appointments yet..</td>
      </tr>
      {% endfor %}
    </table>

  </div>

{% endblock content %}
