{% extends "base/auth_base.html" %}
{% load static %}
{% block content %}



  <!-- ========================= contact-section start ========================= -->
  <section id="contact" class="contact-section mt-2 pt-2">
    <div class="container mt-5 pt-5">
      <div class="row">
        <div class="col-xl-12">
          <div class="contact-form-wrapper">
            <div class="row">
              <div class="col-xl-10 col-lg-8 mx-auto">
                <div class="section-title text-center">
                  <span>Administrator</span>
                  <p>
                    Get Full access to the Administrartor site
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="button text-center rounded-buttons">
                <!-- <a href="/admin_signup">
                  <button type="submit" class="btn primary-btn rounded-full m-2">
                    Register
                  </button>
                </a> -->
                <a href="/admin_sign_in">
                  <button type="submit" class="btn primary-btn rounded-full">
                    Login
                  </button>
                </a>

              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========================= contact-section end ========================= -->
{% endblock content %}
