*.log
*.pot
*.pyc
__pycache__/
db.sqlite3


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
samenv/

.projectenv
projectenv/

theme/

/node_modules
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
