
  <h1>Consultant Profile: {{ consultant.user.username }}</h1>
  
  <div class="card">
    <div class="card-body">
      <h2>Expertise: {{ consultant.expertise }}</h2>
      <p>Hourly Rate: ${{ consultant.hourly_rate }}</p>
      <p>Bio: {{ consultant.bio }}</p>
    </div>
  </div>
  
 <a class="btn btn-primary" href="{% url 'schedule_appointment' consultant.user.id %}"><button type="submit" class="btn btn-primary">Schedule Appointment</button></a>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <button type="submit" class="btn btn-primary">Schedule Appointment</button> -->
  </form>
<hr>
  <h2>Send Message</h2>
<!-- Your form code here -->
<form method="POST" action="{% url 'send_message' consultant.id %}">
  {% csrf_token %}
  <!-- Your form fields here -->
  <button type="submit">Send Message</button>
</form>



  
<a href="{% url 'consultants' %}" class="btn btn-secondary">Back to Consultant List</a>

