{% extends 'baseapp/consultant_base.html' %}
{% block content %}
{%load static %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Your Messages</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Sender</th>
          <th>Messages Content</th>
          <th>Timestamp</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for m,c in messages %}
      <tr>
        <td>{{c.clientName}}</td>
        <td>{{m.content}}</td> 
        <td>{{m.timestamp}}</td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'respond-message' message.id  %}"><span class="glyphicon glyphicon-envelope"></span></a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No Messages..</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


{% endblock content %}
