{% extends 'baseapp/consultant_base.html' %}
{% load static %}
{% block content %}
{%include 'baseapp/consultant_dashboard_cards.html'%}
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="panel panel-primary" style="margin-left:30%;">
      <div class="panel-heading" style="text-align:center;">
        <h4 class="panel-title"><strong>Recent Appointments For You</strong></h4>
        <hr>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Picture</th>
            <th>Email</th>
            <th>Description</th>
            <th>Notes</th>
            <th>Date</th>
          </tr>
        </thead>
        {% for appointment,client in appointments %}
        <tr>
          <td>{{appointment.clientName}}</td>
          <td><img src="{% static client.profilePicture.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
          <td>{{client.email}}</td>
          <td>{{appointment.description}}</td>
          <td>{{appointment.appointmentDate}}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">No appointment so far..</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>


{% endblock content %}
