{% extends "consultancy/admin/admin_base.html" %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }
  </style>
</head>

<div class="container  align-items-center justify-content-center pt-5 mt-5">
    <div class="panel-heading panel-success bg-success">
      <h6 class="panel-title panel-success text-white">Appointments</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Client Name</th>
          <th>Consultancy Category</th>
          <th>Description</th>
          <th>Request Date</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for appointment in appointments %}
      <tr>
        <td>{{appointment.client}}</td>
        <td>{{appointment.category}}</td>
        <td>{{appointment.description}}</td>
        <td>{{appointment.appointmentDateTime}}</td>
        {% if appointment.status %}
        <td> <span class="label label-success">Approved</span></td>
        {% else %}
        <td> <span class="label label-warning">Pending</span></td>
        {% endif %}
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No Available Appointments yet..</td>
      </tr>
      {% endfor %}
    </table>
    <a class="btn btn-sm btn-danger my-2" href="/dating/admin-appointment">&larr;Back to Appointments</a>
  </div>

</div>
{% endblock content %}
