{% extends "admin_base.html" %}
{% block content %}
{%load static%}

  <div class="panel panel-success m-5">
    <h1 class="text-center">Clients</h1>
    <a class="btn btn-sm btn-danger my-2" href="/dating/admin-dashboard">&larr;Back to Dashboard</a>
    <div class="panel-heading">
      <h4 class="text-center text-dark">Available Clients</h4>
    </div>
    <table class="table table-hover" >
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Profile Picture</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Nationality</th>
          <th>State</th>
          <th>City</th>
        </tr>
      </thead>
      {% for client in clients %}
      <tr>
        <td> {{client.profile.first_name}}</td>
        <td> {{client.profile.last_name}}</td>
        <td> {{client.username}}</td>
        <td> <img src="{{client.profile.profile_pic.url}}" class="rounded-circle" height="40px" width="40px" /></td>
        <td>{{client.profile.age}}</td>
        <td>{{client.profile.gender}}</td>
        <td>{{client.profile.country.name}}</td>
        <td>{{client.profile.state}}</td>
        <td>{{client.profile.city}}</td>
      </tr>
      {% endfor %}
    </table>
 
  </div>

{% endblock content %}
