{% extends "admin_base.html" %}
{% block content %}


<div class="justify-content-center align-items-center d-flex my-5">
  <a href="/dating/admin-appointment"><button type="button" class="btn btn-outline-info">&larr;  Back</button></a>
</div>
<div class="container pt-3 mt-5" style="background: linear-gradient(45deg,#6c7e4b,#73b4ff);">
  <div class="panel">
    <div class="panel-heading panel-success">
      <h4 class="text-white text-center align-items-center justify-content-center">Appointment Approvals Required</h4>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Client Name</th>
          <th>Request Category</th>
          <th>Description</th>
          <th>Date</th>
          <th>Approve</th>
          <th>Reject</th>
        </tr>
      </thead>
      {% for appointment in appointments %}
      <tr>
        <td>{{appointment.client}}</td>
        <td>{{appointment.category}}</td>
        <td>{{appointment.description}}</td>
        <td>{{appointment.appointmentDateTime}}</td>
        <td><a class="btn btn-success btn-xs" href="/dating/approve-appointment/{{appointment.id}}"><i class="fa fa-check-square"></i></a></td>
        <td><a class="btn btn-danger btn-xs" href="/dating/reject-appointment/{{appointment.id}}"><i class="fa fa-trash"></i></a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No Available Appointments yet..</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <a class="btn btn-sm my-2" href="/dating/admin-appointment"></a>


</div>


{% endblock content %}
