{% extends "consultancy/admin/admin_base.html" %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container pt-5 mt-5">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Client</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Profile Picture</th>
          <th>Gender</th>
        </tr>
      </thead>
      {% for client in clients %}
      <tr>
        <td> {{client.first_name}}</td>
        <td> {{client.last_name}}</td>
        <td> <img src="{% static 'client.profile_pic.url' %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{client.gender}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


{% endblock content %}
