{% extends "admin_base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5 align-content-center">
  <a class="btn btn-sm btn-danger my-2" href="/dating/admin-dashboard">&larr;Back to Dashboard</a>
  <div class="row">

    <div class="col-md-12 col-xl-12">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <a href="/dating/admin-view-client">
            <h4 class="m-b-20 text-center text-light">Client Records</h4>
          </a>
          <br>
          <h2 class="text-center"><i class="fas fa-user f-center fa-4x"></i></h2>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


{% endblock content %}
