{% extends "consultancy/admin/admin_base.html" %}
{% block content %}
{%load static%}


<!-- communication/templates/communication/admin_messages.html -->
<h2>Admin Messages</h2>
<ul>
    {% for message in messages %}
        <li>
            <strong>From: {{ message.sender.username }}</strong>: {{ message.content }}
            <small>{{ message.timestamp }}</small>
        </li>
    {% empty %}
        <p>No messages from clients.</p>
    {% endfor %}
</ul>

<h2>Admin Appointments</h2>
<ul>
    {% for appointment in appointments %}
        <li>
            <strong>Client: {{ appointment.client.username }}</strong> - {{ appointment.description }}
            <small>Date & Time: {{ appointment.date_time }}</small>
        </li>
    {% empty %}
        <p>No appointments scheduled by clients.</p>
    {% endfor %}
</ul>

{% endblock content %}