{% extends "base.html" %}
{% block content %}



  <div class="panel panel-primary pt-5 m-5">
    <div class="panel-heading">
      <h4 class="text-center text-white">Your Recent Appointments</h4>
    </div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>

          <th>Appiontment Category</th>
          <th>Description</th>
          <th>Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for appointment in appointments %}
      <tr>
        <td>{{appointment.category}}</td>
        <td>{{appointment.description}}</td>
        <td>{{appointment.appointmentDateTime}}</td>
        {% if appointment.status %}
        <td> <span class="btn bt-sm btn-success">Confirmed</span></td>
        {% else %}
        <td> <span class="btn btn-sm btn-success">Sent</span></td>
        {% endif %}
        <td>
          <a href="/dating/cancel-appointment/{{appointment.id}}" class="btn btn-sm btn-danger">Cancel</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No appointments scheduled yet..</td>
      </tr>
      {% endfor %}
    </table>
    <a class="btn btn-sm btn-danger my-2" href="/dating/client-appointment">&larr;Back to Appointments</a>
  </div>







{% endblock content %}
