{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<div>{%include 'client_dashboard_cards.html'%}</div>

<div class="container align-content-center container-fluid justify-content-center">
  <h4 class="text-center">Your Recent Appointments</h4>
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Date and Time</th>
        <th>Service Category</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
        <tr>
          <td>{{ appointment.appointmentDateTime }}</td>
          <td>{{ appointment.category }}</td>
          <td>{{ appointment.description }}</td>
          {% if appointment.status %}
          <td> <span class="btn btn-sm btn-primary">Confirmed</span></td>
          {% else %}
          <td> <span class="btn btn-sm btn-success">Pending</span></td>
          {% endif %}
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No appointments scheduled yet..</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<div class="container align-content-center container-fluid justify-content-center">
  <h4 class="text-center">Your Recent Messages</h4>
  <table class="table table-hover table-bordered table-striped" id="dev-table">
    <thead>
      <tr>
        <th>Sender</th>
        <th>Content</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    {% for message in messages %}
    <tr>
      <td>{{message.sender}}</td>
      <td>{{message.content}}</td>
      <td>{{message.timestamp}}</td>
      {% if message.status %}
      <td> <span class="label label-primary">Read</span></td>
      {% else %}
      <td> <span class="btn btn-sm btn-success">Pending</span></td>
      {% endif %}
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No Messages yet</td>
    </tr>
    {% endfor %}
  </table>
</div>



  

{% endblock content %}