{% extends "base.html" %}
{% block content %}



  <div class="panel panel-primary pt-5 m-3">
    <div class="justify-content-center align-items-center d-flex my-2">
      <a href="/dating/client-appointment"><button type="button" class="btn btn-outline-info">&larr;  Back</button></a>
    </div>
    <div class="panel-heading">
      <h4 class="text-center text-dark">Appointments History</h4>
    </div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>

          <th>Appiontment Category</th>
          <th>Description</th>
          <th>Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for appointment in appointments %}
      <tr>
        <td>{{appointment.category}}</td>
        <td>{{appointment.description}}</td>
        <td>{{appointment.appointmentDateTime}}</td>
        {% if appointment.status %}
        <td> <span class="btn bt-sm btn-success">Confirmed</span></td>
        {% else %}
        <td> <span class="btn btn-sm btn-success">Sent</span></td>
        {% endif %}
        <td>
          <a href="/dating/cancel-appointment/{{appointment.id}}" class="btn btn-sm btn-danger">Cancel</a>
        </td>
      </tr>
      {% empty %}
      <div class="justify-content-center align-items-center d-flex my-2">
        <tr>
          <td colspan="5 center">No appointments scheduled yet..</td>
        </tr>
      </div>
   
      {% endfor %}
    </table>

  </div>







{% endblock content %}
