{% extends "base.html" %}
{% block content %}



    <div class="panel-heading pt-5 m-5">
      <h4 class="text-center text-white">Messages</h4>
    </div>
    <table class="table table-hover p-5" id="dev-table">
      <thead>
        <tr>
          <th>Sender</th>
          <th>Content</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for message in messages %}
      <tr>
        <td>{{message.sender}}</td>
        <td>{{message.content}}</td>
        <td>{{message.timestamp}}</td>
        {% if message.status %}
        <td> <span class="btn btn-sm btn-success">Read</span></td>
        {% else %}
        <td> <span class="btn btn-sm btn-warning">Pending</span></td>
        {% endif %}
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="text-center">No Messages yet</td>
      </tr>
      {% endfor %}
    </table>
    
  <a class="btn btn-sm btn-danger my-2" href="/dating/client-messages">&larr;Back to Messages</a>


{% endblock content %}




