{% extends "base.html" %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }
  </style>
</head>

<div class="container  align-items-center justify-content-center pt-5 mt-5">
    <div class="panel-heading panel-success bg-success pt-3 mt-3">
      <h6 class="panel-title panel-success text-white">Messages</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Sender</th>
          <th>Content</th>
          <th>Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for message in messages %}
      <tr>
        <td>{{message.sender}}</td>
        <td>{{message.content}}</td>
        <td>{{message.timestamp}}</td>
        {% if message.status %}
        <td> <span class="label label-primary">Read</span></td>
        {% else %}
        <td> <span class="label label-success">Pending</span></td>
        {% endif %}
        <td>
          <a href="" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No Messages yet</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock content %}




