{% extends "base.html" %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    
    h4 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container pt-5 mt-5">
  <div class="panel panel-primary mt-5">
    <div class="panel-heading">
      <h4 class="panel-title">Your Appointments</h4>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Consultant Name</th>
          <th>Appiontment Category</th>
          <th>Notes</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <!-- {% for appointment in appointments %}
      <tr>
        <td>{{appointment.consultantName}}</td>
        <td>{{appointment.category}}</td>
        <td>{{appointment.notes}}</td>
        <td>{{appointment.appointmentDate}}</td>
        {%if appointment.status %}
        <td> <span class="label label-primary">Confirmed</span></td>
        {% else %}
        <td> <span class="label label-success">Pending</span></td>
        {% endif %}
      </tr>
      {% endfor %} -->
    </table>
  </div>
</div>


{% endblock content %}
