{% extends "base.html" %}
{% load static %}
{% block content %}
{%include 'client_dashboard_cards.html'%}


<div class="container align-content-center container-fluid justify-content-center mt-5 pt-5">
  <h4 class="text-center">Your Recent Appointments</h4>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>Date and Time</th>
        <th>Consultant</th>
        <th>Service Category</th>
        <th>Notes</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
        <tr>
          <td>{{ appointment.appointmentDate }}</td>
          <td>{{ appointment.consultantName }}</td>
          <td>{{ appointment.category }}</td>
          <td>{{ appointment.notes }}</td>
          {% if appointment.status %}
          <td> <span class="label label-primary">Confirmed</span></td>
          {% else %}
          <td> <span class="btn btn-success">Pending</span></td>
          {% endif %}
          <td>
            <a href="{% url 'cancel_appointment' appointment.id %}" class="btn btn-danger">Cancel</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No appointments scheduled yet..</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


  

{% endblock content %}