{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<head>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
     background-color: #1f8997;
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }
 
    .form-control {
      border-radius: 1.5rem;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #088628;
      color: #fff;
    }

    .menu {
      top: 50px;
    }
  </style>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<br><br>
<div class="container pt-1">
  <a class="btn btn-sm btn-danger my-2" href="/dating/client-appointment">&larr;Back to Appointments</a>
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <h3>Book Appointment</h3>
        </div>
        <div class="form-content">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3 mt-3">
              <label for="category text-center" class="form-label text-center">Consultancy Category</label>
              <!-- <input type="text" class="form-control" id="category" placeholder="Choose Appointment Category" name="category"> -->
              {{form.category}}
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <!-- <textarea class="form-control" rows="5" id="description" name="description"></textarea> -->
              {{form.description}}
            </div>
            <button type="submit" class="btn btn-success">Book Appointment</button>
          </form>
        </div>
      </div>
    </div>
</div>




{% endblock content %}
