{% extends "base.html" %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }
    .container{
      margin-top: 100px;
    }
  </style>
</head>

<div class="container  align-items-center justify-content-center" style="background-color: #149eca;">
  <a class="btn btn-sm btn-danger my-2" href="/dating/client-messages">&larr;Back to Messages</a>
    <div class="panel-heading">
      <h3 class="text-white text-center">Outbox</h3>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Recipient</th>
          <th>Content</th>
          <th>Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for message in messages %}
      <tr>
        <td>{{message.recipient}}</td>
        <td>{{message.content}}</td>
        <td>{{message.timestamp}}</td>
        {% if message.status %}
        <td> <span class="btn btn-sm btn-success">Read</span></td>
        {% else %}
        <td> <span class="btn btn-sm btn-success">Sent</span></td>
        {% endif %}
        <td>
          <a href="/dating/delete-message/{{message.id}}" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6" class="text-center">No Messages yet</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock content %}




