{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<style>
  body{
    background:#DCDCDC;
    margin-top:20px;
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
}
.thumb-lg {
    height: 88px;
    width: 88px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}
.text-muted {
    color: #98a6ad!important;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}
</style>

<div class="album py-5">
    <div class="container align-items-center">
      {% include 'search_bar.html' %}
      <hr>
      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
		{% if cards %}
		{% for card in cards %}
                    <!-- end col -->
          <div class="col-lg-4">
            <div class="text-center card-box" style="border-radius:20px; shadow:2px">
                <div class="member-card pt-2 pb-2">
                    <div class="thumb-lg member-thumb mx-auto"><a href="{% url 'dating_app:partner_account' card.id %}"><img src="{{ card.profile_pic.url }}" class="rounded-circle img-thumbnail" alt="profile-image"></a></div>
                    <div class="">
                        <h4>{{ card.first_name }} {{ card.last_name }}</h4>
                        <p class="text-muted">@User Profession</p>
                        <p class="text-muted"> <span><i class="fas fa-location"></i>{{ card.city }}, {{ card.state }}</span></p>
                        <span><a href="#" class="text-pink">{{ card.age }}</a></span>
                        <p class="card-text"><i>{{ card.about|truncatechars:80 }}</i></p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="justify-content-center d-flex alignt-content-center">
                            {% if card.id in saved_to_favorite %}
                            <a href="{% url 'dating_app:favorite_add' card.id %}"><span><i class="fas fa-heart fa-bg-success fa-1x"></i></span></a>
                            {% else %}
                            <a href="{% url 'dating_app:favorite_add' card.id %}"><span><i class="fas fa-heart fa-1x"></i></span></a>
                            {% endif %}
                        </div>
                      </div>
                    <a href="{% url 'dating_app:partner_account' card.id %}"><button type="button" class="btn btn-success mt-3 btn-rounded waves-effect w-md waves-light">View</button></a>
                    <div class="mt-4">
  
                    </div>
                </div>
            </div>
        </div>

	  {% endfor %}
		{% endif %}
    </div>
  </div>
</div>
<hr>
<ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
    {% if cards.has_previous %}
        <li class="page-item"><a class="page-link" href="?q={{ request.GET.q }}&{% if sex %}sex={{ request.GET.sex }}{% else %}sex=ALL{% endif %}&page={{ cards.previous_page_number }}" style="color: #8538f7;">&laquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link" style="color: green ; border: none;">&laquo;</span></li>
    {% endif %}
    {% for i in page_range|default_if_none:cards.paginator.get_elided_page_range %}
        {% if cards.number == i %}
            <li class="active page-item"><span class="page-link" style="background-color: green; border: none;">{{ i }}</span>
            </li>
        {% else %}
            {% if i == cards.paginator.ELLIPSIS %}
                <li class="page-item"><span class="page-link" style="color: green;">{{ i }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" style="color: green;" href="?q={{ request.GET.q }}&{% if sex %}sex={{ request.GET.sex }}{% else %}sex=ALL{% endif %}&page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if cards.has_next %}
        <li class="page-item"><a class="page-link" style="color: green;" href="?q={{ request.GET.q }}&{% if sex %}sex={{ request.GET.sex }}{% else %}sex=ALL{% endif %}&page={{ cards.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link" style="color: green; border: none;">&raquo;</span></li>
    {% endif %}
</ul>




{% endblock %}
