<div class="row">
  <div class="col-12">
      <div class="card card-margin">
          <div class="card-body">
              <div class="row search-body">
                  <div class="col-lg-12">
                      <div class="search-result">
                          <div class="result-header">
                              <div class="row">
                                  <div class="col-lg-6">
                                      <div class="records">Showing: <b>1-20</b> of <b>200</b> result</div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="result-actions">
                                          <div class="result-sorting">
                                              <span>Sort By:</span>
                                              <select class="form-control border-0" id="exampleOption">
                                                  <option value="1">Relevance</option>
                                                  <option value="2">Names (A-Z)</option>
                                                  <option value="3">Names (Z-A)</option>
                                              </select>
                                          </div>
                                          <div class="result-views">
                                              <button type="button" class="btn btn-soft-base btn-icon">
                                                  <svg
                                                      xmlns="http://www.w3.org/2000/svg"
                                                      width="24"
                                                      height="24"
                                                      viewBox="0 0 24 24"
                                                      fill="none"
                                                      stroke="currentColor"
                                                      stroke-width="2"
                                                      stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      class="feather feather-list"
                                                  >
                                                      <line x1="8" y1="6" x2="21" y2="6"></line>
                                                      <line x1="8" y1="12" x2="21" y2="12"></line>
                                                      <line x1="8" y1="18" x2="21" y2="18"></line>
                                                      <line x1="3" y1="6" x2="3" y2="6"></line>
                                                      <line x1="3" y1="12" x2="3" y2="12"></line>
                                                      <line x1="3" y1="18" x2="3" y2="18"></line>
                                                  </svg>
                                              </button>
                                              <button type="button" class="btn btn-soft-base btn-icon">
                                                  <svg
                                                      xmlns="http://www.w3.org/2000/svg"
                                                      width="24"
                                                      height="24"
                                                      viewBox="0 0 24 24"
                                                      fill="none"
                                                      stroke="currentColor"
                                                      stroke-width="2"
                                                      stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      class="feather feather-grid"
                                                  >
                                                      <rect x="3" y="3" width="7" height="7"></rect>
                                                      <rect x="14" y="3" width="7" height="7"></rect>
                                                      <rect x="14" y="14" width="7" height="7"></rect>
                                                      <rect x="3" y="14" width="7" height="7"></rect>
                                                  </svg>
                                              </button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="result-body">
                              <div class="table-responsive">
                                  <table class="table widget-26">
                                      <tbody>
                                        {% for user in users %}
                                          <tr>
                                   
                                              <td>
                                                  <div class="widget-26-job-emp-img">
                                                      <img src="{{ user.profile.profile_pic.url }}" alt="Company" />
                                                  </div>
                                              </td>
                                              <td>
                                                  <div class="widget-26-job-title">
                                                      <a href="{% url 'dating_app:profileDetail' user.id %}">{{ user.profile.first_name }} {{ user.profile.last_name }}</a>
                                                      <p class="m-0"><a href="#" class="employer-name">{{ user.profile.profession }}</a></p>
                                                  </div>
                                              </td>
                                              <td>
                                                  <div class="widget-26-job-info">
                                                      <p class="type m-0">{{ card.state}}</p>
                                                      <p class="text-muted m-0"><span class="location">{{ user.profile.country.name  }}</span></p>
                                                  </div>
                                              </td>
                                              <td>
                                                  <div class="widget-26-job-salary">{{ user.profile.gender }}</div>
                                              </td>
                                              <td>
                                                  <div class="widget-26-job-salary">{{ user.profile.age }}</div>
                                              </td>
                                              <td>
                                                  <div class="widget-26-job-starred">
                                                      <a href="#">
                                                          <svg
                                                              xmlns="http://www.w3.org/2000/svg"
                                                              width="24"
                                                              height="24"
                                                              viewBox="0 0 24 24"
                                                              fill="none"
                                                              stroke="currentColor"
                                                              stroke-width="2"
                                                              stroke-linecap="round"
                                                              stroke-linejoin="round"
                                                              class="feather feather-star"
                                                          >
                                                              <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                                                          </svg>
                                                      </a>
                                                  </div>
                                              </td>
                                       
                                          </tr>
                                          {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <nav class="d-flex justify-content-center">
                  <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
                      <li class="page-item">
                          <a class="page-link no-border" href="#">
                              <span aria-hidden="true">«</span>
                              <span class="sr-only">Previous</span>
                          </a>
                      </li>
                      <li class="page-item active"><a class="page-link no-border" href="#">1</a></li>
                      <li class="page-item"><a class="page-link no-border" href="#">2</a></li>
                      <li class="page-item"><a class="page-link no-border" href="#">3</a></li>
                      <li class="page-item"><a class="page-link no-border" href="#">4</a></li>
                      <li class="page-item">
                          <a class="page-link no-border" href="#">
                              <span aria-hidden="true">»</span>
                              <span class="sr-only">Next</span>
                          </a>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>
  </div>
</div>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<style type="text/css">
  a:link {
    text-decoration: none;
  }

  .menu {
    top: 50px;
  }

  h6 {
    color: white;
  }

  .order-card {
    color: #fff;
  }

  .bg-c-blue {
    background: linear-gradient(45deg,#97aa72,#73b4ff);
  }




  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .card .card-block {
    padding: 25px;
  }

  .order-card i {
    font-size: 26px;
  }

  .f-left {
    float: left;
  }

  .f-right {
    float: right;
  }
</style>
</head>
<div class="justify-content-center align-items-center d-flex my-3">
<a href="/dating/client-dashboard"><button type="button" class="btn btn-outline-info">&larr;  Back to Dashboard</button></a>
</div>
<div class="container pt-2 mt-2">
<div class="row">
  <div class="col-md-3 col-xl-3">
    <a href="/dating/client-view-messages">
    <div class="card bg-c-blue order-card">
      <div class="card-block">
          <h6 class="m-b-20">Inbox</h6>
        <br>
      </div>
    </div>
  </a>
  </div>


  <div class="col-md-3 col-xl-3">
    <div class="card bg-c-blue order-card">
      <a href="/dating/client-read-messages">
      <div class="card-block">
          <h6 class="m-b-20">Read & Reply Messages</h6>
        <br>
      </div>
    </a>
    </div>
  </div>

  <div class="col-md-3 col-xl-3">
    <a href="/dating/client-send-messages">
    <div class="card bg-c-blue order-card">
      <div class="card-block">
          <h6 class="m-b-20">Compose Message</h6>
        <br>
      </div>
    </div>
    </a>
  </div>

  <div class="col-md-3 col-xl-3">
    <a href="/dating/client-outbox">
    <div class="card bg-c-blue order-card">
      <div class="card-block">
          <h6 class="m-b-20">Outbox</h6>
        <br>
      </div>
    </div>
  </a>
  </div>


</div>
</div>