{% load i18n %}
<div class="modal fade" id="matches" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-bottom: 5px;" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
              </svg> {% trans 'Favorites' %}</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			{% if favorites %}
			{% for favorite in favorites %}
			<div class="list-group w-auto">
				<a href="{% url 'dating_app:partner_account' favorite.saved.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
				  <img src="{{ favorite.saved.profile.profile_pic.url }}"style="width: 40px; height: 40px; object-fit: cover; object-position: center;" class="rounded-circle flex-shrink-0">
				  <div class="d-flex gap-2 w-100 justify-content-between">
					<div>
					  <h6 class="mb-0"><b>{{ favorite.saved.profile.first_name }} {{ favorite.saved.profile.last_name }}, {{ favorite.saved.profile.age }}</b></h6>
					  <small><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
						<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
					  </svg> {{ favorite.saved.profile.city }}</small>
					  <p class="mb-0 opacity-75"><i>{{ favorite.saved.profile.about|truncatechars:80 }}</i></p>
					</div>
					<small class="opacity-50 text-nowrap">{{favorite.saved_date|date:"SHORT_DATE_FORMAT"}}<br>{{favorite.saved_date|time:"h:i a"}}</small>
				  </div>
				</a>
			<div class="d-flex">
			<a href="{% url 'chat_app:inbox' favorite.saved %}" class="btn btn-success flex-fill"><svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 5px;" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
				<path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
			  </svg> {% trans 'Chatting' %}</a>
			<a href="{% url 'dating_app:favorite_add' favorite.saved.id %}" class="btn btn-danger flex-fill"><svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 5px;" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
				<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
			  </svg> {% trans 'Delete' %}</a>
			</div>
			{% endfor %}
			  </div>
			  {% else %}
			  {% trans "You haven't favorites" %}
		{% endif %}
		</div>
	  </div>
	</div>
  </div>