{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- communication/templates/communication/client_messages.html -->
<h2>Client Messages</h2>
<ul>
    {% for message in messages %}
        <li>
            <strong>From: {{ message.sender.username }}</strong>: {{ message.content }}
            <small>{{ message.timestamp }}</small>
        </li>
    {% empty %}
        <p>No messages from admin.</p>
    {% endfor %}
</ul>

<h2>Approval & Responses</h2>
<ul>
    {% for appointment in appointments %}
        <li>
            <strong>Admin: {{ appointment.admin.username }}</strong> - {{ appointment.description }}
            <small>Date & Time: {{ appointment.date_time }}</small>
        </li>
    {% empty %}
        <p>No appointments approved or responses from admin.</p>
    {% endfor %}
</ul>
{% endblock content %}