{% extends "client/client_base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<style>
  body{margin-top:20px;
    background: #f5f5f5;
    }
    .theme-bg-white {
        background-color: #fff !important;
    }
    .ui-w-100 {
        width: 100px !important;
        height: auto;
    }
    .ui-w-40 {
        width: 40px !important;
        height: auto;
    }
    .row-bordered>.col::before, .row-bordered>[class^="col-"]::before, .row-bordered>[class*=" col-"]::before, .row-bordered>[class^="col "]::before, .row-bordered>[class*=" col "]::before, .row-bordered>[class$=" col"]::before, .row-bordered>[class="col"]::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;
        display: block;
        height: 0;
        border-top: 1px solid rgba(24,28,33,0.06);
    }
    .row-bordered>.col::after, .row-bordered>[class^="col-"]::after, .row-bordered>[class*=" col-"]::after, .row-bordered>[class^="col "]::after, .row-bordered>[class*=" col "]::after, .row-bordered>[class$=" col"]::after, .row-bordered>[class="col"]::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1px;
        display: block;
        width: 0;
        border-left: 1px solid rgba(24,28,33,0.06);
    }
    
    .ui-bg-cover {
        background-color: rgba(0,0,0,0);
        background-position: center center;
        background-size: cover;
    }
    
    .ui-square {
        padding-top: 100% !important;
    }
    .ui-square, .ui-rect, .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {
        position: relative !important;
        display: block !important;
        padding-top: 100% !important;
        width: 100% !important;
    }
</style>

<div class="layout-content">

  <!-- Content -->
  <div class="container flex-grow-1 container-p-y mt-5 pt-5">
    <div class="card-body">
      <a class="btn btn-sm btn-danger" href="{% url 'dating_app:dating' %}">&larr;</a>
    </div>
    <!-- Header -->
    <div class="container-m-nx container-m-ny theme-bg-white mb-4">
      <div class="media col-md-10 col-lg-8 col-xl-7 py-5 mx-auto">
        <img src="{{ profile.profile_pic.url }}" alt="" class="d-block ui-w-100 rounded-circle">
        <div class="media-body ml-5">
          <h6 class="font-weight-bold mb-4">{{ profile.first_name }} {{ profile.last_name }}</h6>

          <div class="text-muted mb-4">
            {{ profile.about }}
          </div>

          <a href="javascript:void(0)" class="d-inline-block text-body">
            <strong>Gender - </strong>
            <span class="text-muted">{{ profile.gender }}</span>
          </a>
          <a href="javascript:void(0)" class="d-inline-block text-body ml-3">
            <strong>Age - </strong>
            <span class="text-muted">{{ profile.age }}</span>
          </a>
          <div class="card-body">
            <p class="">
              <i class="ion ion-md-desktop ui-w-30 text-center text-lighter"></i>{{ profile.profession }}</p>
            <p class="mb-2">
              <i class="ion ion-ios-navigate ui-w-30 text-center text-lighter"></i> {{ profile.state }}, {{ profile.country.name }}</p>
          </div>
          <div class="card-body">
            <a href="{% url 'chat_app:inbox' profile %}" class="waves-effect waves-dark btn btn-sm btn-success bi-chat-fill btn-md btn-rounded" data-abc="true"> Chat</a>
            &nbsp;
            <a href="javascript:void(0)" class="btn icon-btn btn-default md-btn-flat rounded-pill">
              <span class="ion ion-md-mail"></span>
            </a>
          </div>
        </div>
      </div>
      <hr class="m-0">
      
    </div>
    
    <!-- Header -->

    <div class="row">
      <div class="col">

        <!-- Info -->
        <div class="card mb-4">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-3 text-muted">Complexion:</div>
              <div class="col-md-9">
                <a href="javascript:void(0)" class="text-body">{{ profile.complexion }}</a>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-md-3 text-muted">Relationship Status:</div>
              <div class="col-md-9">
                <a href="javascript:void(0)" class="text-body">{{ profile.relationshipStatus }}</a>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-3 text-muted">Kids Status:</div>
              <div class="col-md-9">
                <a href="javascript:void(0)" class="text-body">{{ profile.kidsStatus }}</a>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-3 text-muted"><span>Seeking For:</span></div>
              <div class="col-md-9">
                <a href="javascript:void(0)" class="text-body">{{ profile.seekingRelationship }} </a>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-3 text-muted">Partner Preference:</div>
              <div class="col-md-9">
                <a href="javascript:void(0)" class="text-body">{{ profile.partnerPreference }} </a>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-md-3 text-muted">Hobbies:</div>
              <div class="col-md-9">
                <a href="javascript:void(0)" class="text-body">{{ profile.hobbyList }}</a>
              </div>
            </div>
          </div>

        </div>
        <!-- / Info -->
      </div>
      <div class="col-xl-4">


      </div>
    </div>

  </div>
  <!-- / Content -->


</div>
{% endblock %}


