{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static "styles/partner_account.css" %}">
  <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <img class="card-img-top" src="{{ partner_account.profile.banner.url }}" style="object-fit: cover; object-position: center;" alt="Card image cap">
            <div class="card-body little-profile text-center">
              <div class="pro-img"><img src="{{ partner_account.profile.profile_pic.url }}" style="width: 250px; height: 250px; object-fit: cover; object-position: center;"  alt="user"></div>
              <h3 class="m-b-0">{{ partner_account.profile.first_name }} {{ partner_account.profile.last_name }}, {{ partner_account.profile.age }}</h3>
              <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-bottom: 5px;" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
              </svg> {{ partner_account.profile.city }}</p> <a href="{% url 'chat_app:inbox' partner_account %}" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true">{% trans 'Chat Now' %}</a>
          </div>
          </div>
       </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-5">
        <div class="card p-3" style="background-color: rgb(217, 217, 217);">
          <h4>{% trans 'Photos (Coming soon)' %}</h4>
          <div class="row">
            <div class="col-lg-6">
              <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Square/1.webp"
              data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
              alt="Coconut with Strawberries"
              class="w-100 shadow-1-strong rounded"
              />
            </div>
            <div class="col-lg-6">
              <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Vertical/1.webp"
              data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
              alt="Dark Roast Iced Coffee"
              class="w-100 shadow-1-strong rounded"/>
              </div>
          </div>
        </div>
        <div class="card p-3 mt-3" style="background-color: rgb(217, 217, 217);">
          <h4>{% trans 'Interests' %}</h4>
          <p>{% trans 'Coming soon' %}</p>
        </div>
        <div class="card p-3 mt-3" style="background-color: rgb(217, 217, 217);">
          <h4>{% trans 'Match Predictor' %}</h4>
          <p>{% trans 'Coming soon' %}</p>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="card p-3">
          <h4>{% trans 'About' %}</h4>
          <p>{{ partner_account.profile.about }}</p>
        </div>
        <div class="card p-3 mt-3" style="background-color: rgb(217, 217, 217);">
          <h4>{% trans 'Physical Details' %}</h4>
          <p>{% trans 'Coming soon' %}</p>
        </div>
        <div class="card p-3 mt-3" style="background-color: rgb(217, 217, 217);">
          <h4>{% trans "I'm looking for" %}</h4>
          <p>{% trans 'Coming soon' %}</p>
        </div>
        <div class="card p-3 mt-3" style="background-color: rgb(217, 217, 217);">
          <h4>{% trans 'Current Goal' %}</h4>
          <p>{% trans 'Coming soon' %}</p>
        </div>
      </div>
    </div>
    <h4 class="text-center mt-5" style="color: gray;">{% trans 'Similar Users (coming soon)' %}</h4>
  </div>
{% endblock %}
