{% load i18n %}
<div class="container d-flex flex-wrap justify-content-center">
	<form  method="GET" action="{% url 'dating_app:dating' %}" role="search">
  <div class="text-end">
  <div class="input-group">
	<input type="search" style="width: fit-content;" class="form-control" name="q" autocomplete="off" placeholder="{% trans 'Search...' %}" aria-label="Search">
	{% if request.GET.sex == 'M' %}
	<select class="form-select" name="sex" style="width: fit-content;" data-width="fit">
		<option value="ALL">{% trans 'All' %}</option>
		<option value="M" selected="selected">{% trans 'Boys' %}</option>
		<option value="F">{% trans 'Girls' %}</option>
	  </select>
	{% elif request.GET.sex == 'F' %}
	<select class="form-select" name="sex" style="width: fit-content;" data-width="fit">
		<option value="ALL">{% trans 'All' %}</option>
		<option value="M">{% trans 'Boys' %}</option>
		<option value="F" selected="selected">{% trans 'Girls' %}</option>
	  </select>
	{% else %}
	<select class="form-select" name="sex" style="width: fit-content;" data-width="fit">
	  <option value="ALL" selected="selected">{% trans 'All' %}</option>
	  <option value="M">{% trans 'Boys' %}</option>
	  <option value="F">{% trans 'Girls' %}</option>
	</select>
	{% endif %}
	<button class="btn btn-primary" style="background-color: #8538f7; border: none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
		<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
	  </svg></button>
  </div>
  </div>
  </form>
  </div>
<br>
{% if request.GET.q %}
<h6 class="text-center">{{ query }}</h6>
{% elif request.GET.q == "" and request.GET.sex == "M" %}
<h6 class="text-center">{% trans 'All boys' %}</h6>
{% elif request.GET.q == "" and request.GET.sex == "F" %}
<h6 class="text-center">{% trans 'All girls' %}</h6>
{% else %}
<h6 class="text-center">{% trans 'All users' %}</h6>
{% endif %}