{% extends 'baseapp/admin_base.html' %}
{% load static %}
{% block content %}

<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="panel panel-primary" >
      <div class="panel-heading" style="text-align:center;">
        <h4><strong>Recent Consultants</strong></h4>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Specialization</th>
            <th>Availability Status</th>
          </tr>
        </thead>
        {% for consultant in consultants %}
        <tr>
          <td>{{consultant.get_name}}</td>
          <td>{{consultant.email}}</td>
          <td>{{consultant.specialization}}</td>
          {% if consultant.status %}
          <td> <span class="label label-primary">Active</span></td>
          {% else %}
          <td> <span class="label label-success">Not Active</span></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    <hr>
    <div class="table">
      <div class="panel-heading" style="text-align:center;">
        <h4><strong>Recent Client</strong></h4>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Register Date</th>
            <th>Status</th>
          </tr>
        </thead>
        {% for client in clients %}
        <tr>
          <td> {{client.get_name}}</td>
          <td>{{client.email}}</td>
          <td>{{client.gender}}</td>
          <td>{{client.siteRegisterDate}}</td>
          {%if client.status %}
          <td> <span class="label label-primary">Active</span></td>
          {% else %}
          <td> <span class="label label-success">Not Active</span></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    <hr>
    <div class="table">
      <div class="panel-heading" style="text-align:center;">
        <h4><strong>Recent Messages</strong></h4>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Sender</th>
            <th>Reciever</th>
            <th>Content</th>
            <th>Timestamp</th>
            <th>Status</th>
          </tr>
        </thead>
        {% for message in messages %}
        <tr>
          <td>{{message.consultantName}}</td>
          <td>{{message.clientName}}</td>
          <td>{{message.content}}</td>
          <td>{{message.timestamp}}</td>
          {%if message.status %}
          <td> <span class="label label-primary">Read</span></td>
          {% else %}
          <td> <span class="label label-success">Unread</span></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>



{% endblock content %}
