{% extends "client/client_base.html" %}
{% block content %}


<div class="justify-content-center align-items-center d-flex my-2 mt-5 pt-5">
  <a href="/dating/client-messages"><button type="button" class="btn btn-outline-info">&larr;  Back</button></a>
</div>
<div class="container align-items-center justify-content-center p-3 mt-3" style="background: linear-gradient(45deg,#6c7e4b,#73b4ff);">
  <div class="panel-heading">
    <h4 class="text-white text-center">Messages</h4>
  </div>
  <table class="table table-hover" id="dev-table">
    <thead>
      <tr>
        <th>Recipient</th>
        <th>Content</th>
        <th>Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    {% for message in messages %}
    <tr>
      <td>{{message.recipient}}</td>
      <td>{{message.content}}</td>
      <td>{{message.timestamp}}</td>
      {% if message.status %}
      <td> <span class="btn btn-sm btn-success">Read</span></td>
      {% else %}
      <td> <span class="btn btn-sm btn-success">Sent</span></td>
      {% endif %}
      <td>
        <a href="/dating/delete-message/{{message.id}}" class="btn btn-sm btn-danger">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6" class="text-center">No Messages yet</td>
    </tr>
    {% endfor %}
  </table>

</div>






{% endblock content %}




