 <style>
    body{
      margin-top:20px;
      background:#FAFAFA;
  }
  .order-card {
      color: #fff;
  }
  
  .bg-c-blue {
      background: linear-gradient(45deg,#6c7e4b,#73b4ff);
  }
  
  .bg-c-green {
      background: linear-gradient(45deg,#2ed8b6,#60ad9e);
  }
  
  .bg-c-yellow {
      background: linear-gradient(45deg,#6bac98,#ffcb80);
  }
  
  .bg-c-pink {
      background: linear-gradient(45deg,#53d7ff,#ff869a);
  }
  
  
  .card {
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(116, 136, 163, 0.16);
      box-shadow: 0 1px 2.94px 0.06px rgba(97, 122, 124, 0.16);
      border: none;
      margin-bottom: 30px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  
  .card .card-block {
      padding: 25px;
  }
  
  .order-card i {
      font-size: 26px;
  }
  
  .f-left {
      float: left;
  }
  
  .f-right {
      float: right;
  }
  </style>

<div class="container pt-3 mt-3 justify-center align-content-center d-flex">
  <div class="container">
    <h3 class="text-center">Client Dashboard</h3>
    <hr>
    <div class="row">
        <div class="col-md-4 col-xl-4">
          <a href="/dating/client-appointment">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-azure text-xl">Total Appointments</h6>
                    <h2 class="text-right text-white"><i class="fa fa-user-plus text-white f-left"></i><span>{{appointmentcount}}</span></h2>
                    <p class="m-b-0 text-white">Pending Appointments<span class="f-right">{{pendingappointmentcount}}</span></p>
                </div>
            </div>
          </a>
        </div>
        
        <div class="col-md-4 col-xl-4">
          <a href="/dating/client-messages">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-white">Total Messages</h6>
                    <h2 class="text-right text-white"><i class="fa fa-refresh f-left text-white"></i><span>{{messagescount}}</span></h2>
                    <p class="m-b-0 text-white">Pending Messages<span class="f-right">{{pendingmessagescount}}</span></p>
                </div>
            </div>
          </a>
        </div>
        
      
        <div class="col-md-4 col-xl-4">
          <a href="#">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20 text-white">Video Chat With Consultant</h6>
                </div>
            </div>
          </a>
        </div>

	</div>
</div>
</div>












