{% extends "client/client_base.html" %}
{% block content %}

<div class="justify-content-center align-items-center d-flex mt-5 pt-5">
  <a href="/dating/client-messages"><button type="button" class="btn btn-outline-info">&larr;  Back</button></a>
</div>
<div class="container">

  <div class="container align-items-center justify-content-center p-3 mt-3" style="background: linear-gradient(45deg,#6c7e4b,#73b4ff);">
    <div class="panel-heading">
      <h4 class="text-white text-center">Messages</h4>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Sender</th>
          <th>Content</th>
          <th>Timestamps</th>
          <th>Read</th>
          <th>Reply</th>
        </tr>
      </thead>
      {% for message in messages %}
      <tr>
        <td>{{message.sender}}</td>
        <td>{{message.content}}</td>
        <td>{{message.timestamp}}</td>
        <td><a class="btn btn-success btn-xs" href="/dating/read-messages/{{message.id}}"><span class="glyphicon glyphicon-ok"></span></a></td>
        <td><a class="btn btn-primary btn-xs" href="/dating/client-send-messages"><span class="glyphicon glyphicon-trash"></span></a></td>
      {% endfor %}
    </table>
  
  </div>


</div>






{% endblock content %}
