{% extends "client/client_base.html" %}
{% load static %}
{% block content %}

  <!-- Start Pricing  Area -->
  <section id="pricing" class="pricing-area pricing-fourteen">
    <!--======  Start Section Title Five ======-->
    <div class="section-title-five mt-4 pt-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h2 class="fw-bold">Dashboard</h2>
              <p>({{request.user}})</p>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="align-items-center justify-content-center flex-wrap d-flex">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="pricing-style-fourteen middle">
              <div class="table-head">
                <h6 class="title">Total Appointments</h6>
                  <!-- <p>Lorem Ipsum is simply dummy text of the printing and industry.</p> -->
                  <div class="price">
                    <h2 class="amount">
                      <span class="currency"></span>{{appointmentcount}}<span class="duration">Appointments</span>
                    </h2>
                  </div>
                  <div class="price">
                    <h2 class="amount">
                      <span class="currency"></span>{{pendingappointmentcount}}<span class="duration">Pending Appointments</span>
                    </h2>
                  </div>
              </div>
  
              <div class="light-rounded-buttons">
                <a href="/dating/client-appointment" class="btn primary-btn">
                  Explore
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="pricing-style-fourteen">
              <div class="table-head">
                <h6 class="title">Total Messages</h6>
                  <!-- <p>Lorem Ipsum is simply dummy text of the printing and industry.</p> -->
                  <div class="price">
                    <h2 class="amount">
                      <span class="currency"></span>{{messagescount}}<span class="duration">Messages</span>
                    </h2>
                  </div>
                  <div class="price">
                    <h2 class="amount">
                      <span class="currency"></span>{{pendingmessagescount}}<span class="duration">Pending Messages</span>
                    </h2>
                  </div>
              </div>
  
              <div class="light-rounded-buttons">
                <a href="/dating/client-messages" class="btn primary-btn">
                  Explore
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--/ End Pricing  Area -->
{% endblock content %}