{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container pt-5 mt-5">
<link rel="stylesheet" href="{% static 'styles/chat_app.css' %}">
<link rel="stylesheet" href="{% static 'styles/reset.css' %}">
<a href="/dating/client-dashboard" class="align-items-center justify-content-center d-flex mb-2"><button type="button" class="btn btn-outline-info">&larr;  Back</button></a>
<div id="frame">
	<div id="sidepanel">
		<!-- <div id="search">
			<label for=""></label>
			<input type="text" placeholder="Search contacts..." />
		</div> -->
		<div id="contacts">
			{% block contacts %}
			{% endblock%}
		</div>
	</div>
	<div class="content">
		<div class="messages">
			{% if not messages %}
			<h6 class="alert alert-warning text-center">{% trans 'Select a chat to start messaging' %}</h6>
			{% endif %}
			{% block message %}
			{% endblock %}
		</div>
	</div>
</div>
</div>

{% endblock %}