{% extends 'chat_app/messages_list.html' %}
{% load static %}
{% load i18n %}
{% block message %}
{% if messages %}
<div class="contact-profile" style="font-weight: 500;">
  <a href="{% url 'dating_app:partner_account' other_person.id %}">
  <img src="{{ other_person.profile.profile_pic.url }}" style="width: 40px; height: 40px; object-fit: cover; object-position: center;" alt="" />
  <p>{{ other_person.profile.first_name }} {{ other_person.profile.last_name }}</p>
  </a>
</div>
{% for message in messages %}
    {% if message.sender == other_person %}

    <ul>
      <li class="sent">
        <img src="{{ other_person.profile.profile_pic.url }}" style="width: 40px; height: 40px; object-fit: cover; object-position: center;" alt="" />
        <p>{{ message.message }}</p>
      </li>
    </ul>
    
    {% else %}

    <ul>
      <li class="replies">
        <img src="{{ user.profile.profile_pic.url }}" style="width: 40px; height: 40px; object-fit: cover; object-position: center;" alt="" />
        <p>{{ message.message }}</p>
      </li>
    </ul>
    {% endif %}
{% endfor %}
{% endif %}
<form action="{% url 'chat_app:inbox' other_person.username %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="recipient" value="{{ other_person.pk }}">
  <input type="hidden" name="user" value="{{ user.pk }}">
<div class="message-input">
  <div class="wrap">
  <input type="text" autofocus name="message" autocomplete="off" placeholder="Write your message..." />
  <button class="submit" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
    </svg></button>
  </div>
</div>
</form>
{% endblock %}