{% extends 'chat_app/chat.html' %}
{% load static %}
{% load i18n %}
{% block contacts %}
{% if not messages_list %}
			<h6 class="alert alert-warning text-center empty">{% trans 'Your chat is empty' %}</h6>
{% endif %}
<ul>
{% for message in messages_list %}

{% for us in other_users %}
{% if us.pk == message.recipient.pk or us.pk == message.sender.pk  %}
{% if other_person.username == us.username %}
<a href="{% url 'chat_app:inbox' us %}">
  <li class="contact" style="background-color: #eaf1f7; border-left: 5px solid #a0c0d3;">
    <div class="wrap">
      <img src="{{ us.profile.profile_pic.url }}" style="width: 40px; height: 40px; object-fit: cover; object-position: center;" alt="" />
      <div class="meta">
        <p class="name">{{ us.profile.first_name }} {{ us.profile.last_name }}</p>
        <p class="preview" style="color: #6e6e6e;">{{message.message|truncatechars:30}}</p>
      </div>
    </div>
  </li>
</a>
{% else %}
<a href="{% url 'chat_app:inbox' us %}">
<li class="contact">
  <div class="wrap">
    <img src="{{ us.profile.profile_pic.url }}"style="5px width: 40px; height: 40px; object-fit: cover; object-position: center;" alt="" />
    <div class="meta">
      <p class="name">{{ us.profile.first_name }} {{ us.profile.last_name }}</p>
      <p class="preview">{{message.message|truncatechars:30}}</p>
    </div>
  </div>
</li>
</a>
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
</ul>



{% endblock %}