{% extends 'baseapp/prebase.html' %}

{% load static %}


{% block content %}
<div class="container mt-5 pt-5">
  <div class="container mt-5">
    <div class="bg order-1 order-md-2" style="background-image: url('{% static 'images/login.jpg' %}');"></div>
    <div class="contents order-2 order-md-1 mt-5">
      <div class="container">
        <div class="row align-items-center justify-content-center mt-5 pt-5 mb-auto">
          <div class="col-md-8">
            <h3>Client<strong>Login Page</strong></h3>
            <form method="POST">
                {% csrf_token %}
              <div class="form-group first">
                <label for="username">Username</label>
                <!-- <input type="text" class="form-control" placeholder="Enter your Username" id="username"> -->
                {{form.username}}
              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <!-- <input type="password" class="form-control" placeholder="Enter Your Password" id="password"> -->
                {{form.password}}
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Do not have account?<a href="clientsignup">Register</a>  </span>
                </label>
                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
              </div>
              <input type="submit" value="Log In" class="btn btn-block btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
{% endblock content %}
  