{% extends "base/auth_base.html" %}
{% load static %}
{% block content %}

  <!-- ========================= contact-section start ========================= -->
  <section id="contact" class="contact-section">
    <div class="container mt-5 pt-5">
      <div class="row">
        <div class="col-xl-12">
          <div class="contact-form-wrapper">
            <div class="row">
              <div class="col-xl-10 col-lg-8 mx-auto">
                <div class="section-title text-center">
                  <span>Client</span>
                  <h4>
                    Ready to Get Started
                  </h4>
                  <p>
                    We value your inquiries and feedback. Let's start a conversation that could change your life. Reach out to us via the form below or connect through our social channels. Your journey towards fulfillment begins here.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="button text-center rounded-buttons">
                <a href="/client_signup">
                  <button type="submit" class="btn primary-btn rounded-full">
                    Register
                  </button>
                </a>
                <a href="/client_sign_in">
                  <button type="submit" class="btn primary-btn rounded-full">
                    Login
                  </button>
                </a>

              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========================= contact-section end ========================= -->
{% endblock content %}


