{% extends "base/auth_base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
  <!-- ========================= contact-section start ========================= -->
  <section id="contact" class="contact-section">
    <div class="container pt-4 mt-4">
      <div class="row">
        <div class="col-xl-12">
          <div class="contact-form-wrapper">
            <div class="row">
              <div class="col-xl-10 col-lg-8 mx-auto">
                <div class="section-title text-center">
                  <span>Create an Account</span>
                  <h4>
                    Ready to Get Started
                  </h4>
                </div>
              </div>
            </div>
			<div class="align-items-center justify-content-center d-flex">
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<span class="text-danger">{{message}}</span>
					{% endfor %}
				</ul>
				{% else %}
				<ul class="messages">
	
				</ul>
				{% endif %}
			</div>
            <form class="contact-form" method="POST">
				{% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <!-- <input type="text" name="first_name" id="first_name" placeholder="First Name" required /> -->
				  {{form.username}}
                </div>
                <div class="col-md-6">
                  <!-- <input type="text" name="last_name" id="last_name" placeholder="Last Name" required /> -->
				  {{form.password}}
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="button text-center rounded-buttons">
                    <button type="submit" class="btn primary-btn rounded-full">
						Create Account
                    </button>
                  </div>
				  <div class="align-items-center justify-content-center d-flex mt-3">
					<p>Already Have an Account?</p>
				</div>
				<div class="align-items-center justify-content-center d-flex mt-3">
	
					<a class="txt2"  href="/client_sign_in">
						Login
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</a>
				</div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========================= contact-section end ========================= -->
{% endblock %}




