{% extends "client/client_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block content %}

<style>
  body{
    margin-top:20px;
}
/* User Cards */
.user-box {
    width: 110px;
    margin: auto;
    margin-bottom: 20px;
    
}

.user-box img {
    width: 100%;
    border-radius: 50%;
	padding: 3px;
	background: #fff;
	-webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.profile-card-2 .card {
	position:relative;
}

.profile-card-2 .card .card-body {
	z-index:1;
}

.profile-card-2 .card::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
	border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 112px;
    background-color: #e6e6e6;
}


.profile-card-3 .user-fullimage {
	position:relative;
}

.profile-card-3 .user-fullimage .details{
	position: absolute;
    bottom: 0;
    left: 0px;
	width:100%;
}

.profile-card-4 .user-box {
    width: 110px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;
}

.profile-card-4 .list-icon {
    display: table-cell;
    font-size: 30px;
    padding-right: 20px;
    vertical-align: middle;
    color: #223035;
}

.profile-card-4 .list-details {
	display: table-cell;
	vertical-align: middle;
	font-weight: 600;
    color: #223035;
    font-size: 15px;
    line-height: 15px;
}

.profile-card-4 .list-details small{
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
	font-weight: 400;
    color: #808080;
}

/*Nav Tabs & Pills */
.nav-tabs .nav-link {
    color: #223035;
	font-size: 12px;
    text-align: center;
	letter-spacing: 1px;
    font-weight: 600;
	margin: 2px;
    margin-bottom: 0;
	padding: 12px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
	
}
.nav-tabs .nav-link:hover{
    border: 1px solid transparent;
}
.nav-tabs .nav-link i {
    margin-right: 2px;
	font-weight: 600;
}

.top-icon.nav-tabs .nav-link i{
	margin: 0px;
	font-weight: 500;
	display: block;
    font-size: 20px;
    padding: 5px 0;
}




.tabs-vertical .nav-tabs .nav-link {
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 2px;
    margin-right: -1px;
    padding: 12px 1px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.tabs-vertical .nav-tabs{
	border:0;
	border-right: 1px solid #dee2e6;
}

.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 1px solid #dee2e6;
    border-right: 0;
    border-left: 1px solid #dee2e6;
}

.tabs-vertical-dark.tabs-vertical .nav-tabs{
	border:0;
	border-right: 1px solid #223035;
}

.tabs-vertical-dark.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-dark.tabs-vertical .nav-tabs .nav-link.active {
    color: #223035;
    background-color: #fff;
    border-color: #223035 #223035 #fff;
    border-bottom: 1px solid #223035;
    border-right: 0;
    border-left: 3px solid #223035;
}

.tabs-vertical-secondary.tabs-vertical .nav-tabs{
	border:0;
	border-right: 1px solid #75808a;
}

.tabs-vertical-secondary.tabs-vertical .nav-tabs .nav-item.show .nav-link, .tabs-vertical-secondary.tabs-vertical .nav-tabs .nav-link.active {
    color: #75808a;
    background-color: #fff;
    border-color: #75808a #75808a #fff;
    border-bottom: 1px solid #75808a;
    border-right: 0;
    border-left: 3px solid #75808a;
}

.nav-pills .nav-link {
    border-radius: .25rem;
    color: #223035;
    font-size: 12px;
    text-align: center;
	letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
	margin: 3px;
    padding: 12px 20px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 

}

.nav-pills .nav-link:hover {
    background-color:#f4f5fa;
}

.nav-pills .nav-link i{
	margin-right:2px;
	font-weight: 600;
}

.top-icon.nav-pills .nav-link i{
	margin: 0px;
	font-weight: 500;
	display: block;
    font-size: 20px;
    padding: 5px 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #008cff;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 140, 255, 0.5);
}

.nav-pills-info .nav-link.active, .nav-pills-info .show>.nav-link {
    color: #fff;
    background-color: #0dceec;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(13, 206, 236, 0.5);
}



.nav-pills-dark .nav-link.active, .nav-pills-dark .show>.nav-link {
    color: #fff;
    background-color: #223035;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(34, 48, 53, .5);
}

.nav-pills-secondary .nav-link.active, .nav-pills-secondary .show>.nav-link {
    color: #fff;
    background-color: #75808a;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(117, 128, 138, .5);
}
.card .tab-content{
	padding: 1rem 0 0 0;
}

.z-depth-3 {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
}
</style>
<div class="container mt-5 pt-4">
    <a href="/dating/client-dashboard" class="align-items-center justify-content-center d-flex mb-2"><button type="button" class="btn btn-outline-info">&larr;  Back</button></a>
  <div class="row">
          <div class="col-lg-4">
             <div class="profile-card-4 z-depth-3">
              <div class="card">
                <div class="card-body text-center rounded-top">
                 <div class="user-box">
                  <img src="{{ user.profile.profile_pic.url }}" alt="user avatar">
                </div>
                <h5 class="mb-1 text-dark">{{ request.user.username }}</h5>
                <h6 class="text-dark">{{user.profile.profession}}</h6>
               </div>
                <div class="card-body">
                  <ul class="list-group shadow-none">
                  <li class="list-group-item">
                    <div class="list-details">
                      <span>Gender</span>
                      <small>{{user.profile.gender}}</small>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-details">
                      <span>Age</span>
                      <small>{{user.profile.age}}</small>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-icon">
                      <i class="fa fa-globe"></i>
                    </div>
                    <div class="list-details">
                      <span>Location</span>
                      <small>{{user.profile.state}}, {{user.profile.country.name}}</small>
                    </div>
                  </li>
                  </ul>
                  <div class="row text-center mt-4">
                    <div class="col p-2">
                     <h4 class="mb-1 line-height-5">{{totalAppointments}}</h4>
                      <small class="mb-0 font-weight-bold">Toatl Appointments</small>
                     </div>
                      <div class="col p-2">
                        <h4 class="mb-1 line-height-5">{{totalMessages}}</h4>
                       <small class="mb-0 font-weight-bold">Total Messages</small>
                      </div>
                   </div>
                   <div class="row text-center mt-4">
                    <div class="col p-2">
                     <h4 class="mb-1 line-height-5">{{pendingAppointments}}</h4>
                      <small class="mb-0 font-weight-bold">Pending Appointments</small>
                     </div>
                      <div class="col p-2">
                        <h4 class="mb-1 line-height-5">{{pendingMesssages}}</h4>
                       <small class="mb-0 font-weight-bold">Pending Messages</small>
                      </div>
                   </div>
                   
                 </div>
               </div>
               
             </div>
          </div>
          <div class="col-lg-8">
             <div class="card z-depth-3">
              <div class="card-body">
              <ul class="nav nav-pills nav-pills-primary nav-justified">
                  <li class="nav-item">
                      <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">Profile Information</span></a>
                  </li>
                  <li class="nav-item">
                      <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit Profile</span></a>
                  </li>
              </ul>
              <div class="tab-content p-3">
                  <div class="tab-pane active show" id="profile">
                      <h5 class="mb-2">User Profile</h5>
                      <div class="row">
                          <div class="col-md-6">
                              <h6>About</h6>
                              <p>
                                {{user.profile.about}}
                              </p>
                              <h6>Hobbies</h6>
                              <p>
                                {{user.profile.hobbyList}}
                              </p>
                          </div>
                          <div class="col-md-6">
                            <h6>Activities</h6>
                            <hr>
                            <span class="badge badge-primary"><i class="fa fa-envelope"></i> {{totalMessages}} Messages</span>
                            <span class="badge badge-success"><i class="fa fa-user"></i> {{totalAppointments}} Appointments</span>
                        </div>
                          <div class="col-md-12">
                              <h5 class="mt-2 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span>Info</h5>
                              <table class="table table-hover table-striped">
                                  <tbody>                                    
                                      <tr>
                                          <td>
                                              <strong>First Name</strong>:{{user.profile.first_name}} 
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <strong>Last Name</strong>:{{user.profile.last_name}}
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <strong>User Name</strong>:{{user.username}}
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <strong>Relationship Status</strong>:{{user.profile.relationshipStatus}} 
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <strong>Kids Status</strong>:{{user.profile.kidsStatus}}  
                                          </td>
                                      </tr>
                                      <tr>
                                        <td>
                                            <strong>Partner Preference</strong>:{{user.profile.partnerPreference}} 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Complexion</strong>:{{user.profile.complexion}} 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Seeking Relationship Type</strong>:{{user.profile.seekingRelationship}} 
                                        </td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      <!--/row-->
                  </div>
                  <div class="tab-pane" id="edit">
                      <form method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">First name</label>
                              <div class="col-lg-9">
                                {{p_form.first_name}}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                              <div class="col-lg-9">
                                {{p_form.last_name}}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">Username</label>
                              <div class="col-lg-9">
                                {{u_form.username}}
                              </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Age</label>
                            <div class="col-lg-9">
                              {{p_form.age}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Profession</label>
                            <div class="col-lg-9">
                                {{p_form.profession}}
                            </div>
                        </div>
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">Change profile</label>
                              <div class="col-lg-9">
                                <input type="file" name="profile_pic" class="form-control" id="id_profile_pic">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">Address</label>
                              <div class="col-lg-9">
                                {{p_form.country}}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label"></label>
                              <div class="col-lg-6">
                                {{p_form.city}}
                              </div>
                              <div class="col-lg-3">
                                {{p_form.state}}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">Relationship Status</label>
                              <div class="col-lg-9">
                                {{p_form.relationshipStatus}}
                              </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Kids Status</label>
                            <div class="col-lg-9">
                                {{p_form.kidsStatus}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Partner Preference</label>
                            <div class="col-lg-9">
                                {{p_form.partnerPreference}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Complexion</label>
                            <div class="col-lg-9">
                                {{p_form.complexion}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Seeking Relationship Type</label>
                            <div class="col-lg-9">
                                {{p_form.seekingRelationship}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Hobby List</label>
                            <div class="col-lg-9">
                                {{p_form.hobbyList}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">About</label>
                            <div class="col-lg-9">
                                {{p_form.about}}
                            </div>
                        </div>
                          <!-- <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">Password</label>
                              <div class="col-lg-9">
                                  <input class="form-control" type="password" value="11111122333">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                              <div class="col-lg-9">
                                  <input class="form-control" type="password" value="11111122333">
                              </div>
                          </div> -->
                          <div class="form-group row">
                              <label class="col-lg-3 col-form-label form-control-label"></label>
                              <div class="col-lg-9">
                                  <input type="reset" class="btn btn-secondary" value="Cancel">
                                  <input type="submit" class="btn btn-success" value="Save Changes">
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
        </div>
        </div>
          
      </div>
  </div>
{% endblock %}
