{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/profile_info.css' %}">

<div class="container text-center pt-5 mt-5">
	{% if error %}
	<p class="alert alert-danger"><svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 5px;" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg> {{ error }}</p>
	{% endif %}
    <form id="signUpForm" method="POST" action="{% url 'user_app:sign_up_step_two' %}">
		<div class="progress"  role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 1px">
			<div class="progress-bar" style="width: 66%; background-color: #09b111;"></div>
		  </div>
		{% csrf_token %}
            <p class="text-center mb-4">{% trans 'STEP' %} 2/3</p>
            <div class="mb-3">
				<label for="country" class="float-left">Country</label>
				{% if user.profile.country %}
				<input type="text" name="country" id="id_country" value="{{ user.profile.country }}" autocomplete="off">
				{% else %}
                <!-- <input type="text" name="country" id="id_country" placeholder="{% trans 'Enter Your country' %}" autocomplete="off"> -->
				{{form.country}}
				{% endif %}
            </div>
			<div class="mb-3">
				<label for="state" class="float-left">State</label>
				{% if user.profile.state %}
				<input type="text" name="state" id="id_state" value="{{ user.profile.state }}" autocomplete="off">
				{% else %}
                <!-- <input type="text" name="state" id="id_state" placeholder="{% trans 'Your country and state' %}" autocomplete="off"> -->
				{{form.state}}
				{% endif %}
            </div>
			<div class="mb-3">
				<label for="city" class="float-left">City</label>
				{% if user.profile.city %}
				<input type="text" name="city" id="id_city" value="{{ user.profile.city }}" autocomplete="off">
				{% else %}
                <!-- <input type="text" name="city" id="id_city" placeholder="{% trans 'Your city' %}" autocomplete="off"> -->
				{{form.city}}
				{% endif %}
            </div>
			<div class="mb-3">
				<label for="kidsStatus" class="float-left">Kids Status</label>
				{% if user.profile.kidsStatus %}
				<input type="text" name="kidsStatus" id="id_kidsStatus" value="{{ user.profile.kidsStatus }}" autocomplete="off">
				{% else %}
                <!-- <input type="text" name="kidsStatus" id="id_kidsStatus" placeholder="{% trans 'Enter Your Kids Status' %}" autocomplete="off"> -->
				{{form.kidsStatus}}
				{% endif %}
            </div>
			<div class="mb-3">
				<label for="partnerPreference" class="float-left">Partner Preference</label>
				{% if user.profile.partnerPreference %}
				<input type="text" name="partnerPreference" id="id_partnerPreference" value="{{ user.profile.partnerPreference }}" autocomplete="off">
				{% else %}
                <!-- <input type="text" name="partnerPreference" id="id_partnerPreference" placeholder="{% trans 'Enter Your Partner Preference' %}" autocomplete="off"> -->
				{{form.partnerPreference}}
				{% endif %}
            </div>
			<div class="mb-3">
				<label for="complexion" class="float-left">Complexion</label>
				{% if user.profile.complexion %}
				<input type="text" name="complexion" id="id_complexion" value="{{ user.profile.complexion }}" autocomplete="off">
				{% else %}
                <!-- <input type="text" name="complexion" id="id_complexion" placeholder="{% trans 'Enter Your Compexion' %}" autocomplete="off"> -->
				{{form.complexion}}
				{% endif %}
            </div>
			<div class="mb-3">
				<label for="seekingRelationship" class="float-left">Seeking Relationship Type</label>
				{% if user.profile.seekingRelationship %}
				<input type="text" name="seekingRelationship" id="id_seekingRelationship" value="{{ user.profile.seekingRelationship }}" autocomplete="off">
				{% else %}
                <!-- <input type="text" name="seekingRelationship" id="id_seekingRelationship" placeholder="{% trans 'Enter Your Seeking Realtionship Type' %}" autocomplete="off"> -->
				{{form.seekingRelationship}}
				{% endif %}
            </div>
        <div class="">
			<a href="{% url 'user_app:sign_up_step_one' %}" class="previous btn btn-danger mx-4">{% trans 'Back' %}</a>
            <button type="submit" class="btn btn-success mx-4">{% trans 'Next' %}</button>
        </div>
    </form>
</div>

{% endblock %}