{% extends 'network/baseAuth.html' %}


{% block content %}

<div class="text-center aligned center flex-container p-5 md-0">
    <form method="POST">
        {% csrf_token %}
     
        <h4 class="text-center title-page">User Reset Password</h4>
        <p class="text-center">Enter your Valid Email Address below to recover your Account</p>
        <div class="form-fields text-center ">
            <div class="form-group center-email-fields">
                    {{form.as_p}}
                <div>
                </div>
            </div>
            <input class="btn btn-success" type="submit" name="Send Email" value="Send Email">
        </div>
    </form>	  
<hr>
<p class="text-center"><a href="{% url 'login' %}">Back to Login</a></p>	
</div>


{% endblock content %}