{% extends 'network/baseAuth.html' %}

{% block content %}
<div class="container p-5 md-3 aligned content center flex-container text-center">
  <h5>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </h5>
  <h5>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </h5>
  <h5>
    Thank you for your patience and cooperation...............!!!!
  </h5>
  <hr>
  <span><p class="text-center active bold">Back to Login Page</p></span>
  <a href="{% url 'login' %}"><button class="btn btn-success">Sign In</button></a>

</div>


{% endblock %}