{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/profile_info.css' %}">

<div class="container text-center pt-5 mt-5">
	{% if error %}
	<p class="alert alert-danger"><svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 5px;" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg> {{ error }}</p>
	{% endif %}
    <form id="signUpForm" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="progress"  role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 1px">
			<div class="progress-bar" style="width: 100%; background-color: #8538f7;"></div>
		  </div>
            <p class="text-center mb-4">{% trans 'STEP' %} 3/3</p>
            <div class="text-center">
				<img src="{{ user.profile.profile_pic.url }}" style="object-fit: cover; object-position: center; height: 200px; width: 200px; margin-bottom: 20px;" class="rounded-circle">
				</div>
				<div class="profile-pic text-center">
				  <input type="file" name="profile_pic" id="id_profile_pic">
				  </div>
				  <textarea class="form-control" name="about" cols="40" rows="10" style="width: 100%; margin-top: 20px; margin-bottom: 20px;" id="id_about" placeholder="{% trans 'About you' %}"></textarea>
        <div class="form-footer d-flex">
			<a href="{% url 'user_app:sign_up_step_two' %}" class="previous">{% trans 'Previous' %}</a>
            <button type="submit">{% trans 'Done' %}</button>
        </div>
    </form>
</div>
{% endblock %}