{% extends 'baseapp/base.html' %}

{% load static %}


{% block content %}

 <!-- ======= About Us Section ======= -->
 <section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header my-lg-5">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </header>

      <div class="row about-cols">

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="about-col">
            <div class="img">
              <img src="{% static 'assets/img/about-mission.jpg' %}" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Mission</a></h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="about-col">
            <div class="img">
              <img src="{% static 'assets/img/about-plan.jpg' %}" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Plan</a></h2>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="{% static 'assets/img/about-vision.jpg' %}" alt="" class="img-fluid">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Vision</a></h2>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End About Us Section -->
  
{% endblock content %}
  