
    <h1>Consultation Requests</h1>
    <ul>
        {% for request in consultationRequests %}
        <div class="request-message">
            <li>
                <h2>Request No.: {{request.id}}</h2>
                <h4>Client : {{request.client.username}}</h4>
                <h4>Consultant : {{ request.service.consultant}}</h4>
                <h4>service Title : {{ request.service.title }} </h4>
                <h4>Time: {{ request.created_at}} </h4>
                <h4>Request Message: <p>{{ request.requestMesssage}}</p></h4>
                <h4>Request Status :
                {% if request.requestStatus == 'pending' %}
                <button class="btn btn-success bg-success"><a href="{% url 'accept_decline_request' request.id 'accept' %}">Accept</a> </button>
                <button class="btn btn-danger bg-danger"><a href="{% url 'accept_decline_request' request.id 'decline' %}">Decline</a></button>
                {% elif request.requestStatus == 'accepted' %}
                    (Accepted)
                {% elif request.requestStatus == 'declined' %}
                    (Declined)
                {% endif %}
            </h4>
            </li>
        </div>
        <hr>
        {% endfor %}
    </ul>
