<h1>Notifications</h1>
<ul>
  {% for notification in notifications %}
    <li {% if not notification.is_read %}class="unread"{% endif %}>
      <p>{{ notification.message }}</p>
      <button class="mark-read" data-notification-id="{{ notification.id }}">Mark as Read</button>
    </li>
  {% endfor %}
</ul>


<script>
    const markButtons = document.querySelectorAll('.mark-read');

    markButtons.forEach(button => {
        button.addEventListener('click', () => {
            const notificationId = button.getAttribute('data-notification-id');
            markNotificationAsRead(notificationId);
        });
    });


    function markNotificationAsRead(notificationId) {
        const endPiontURL = `/mark_notification/${notificationId}`;
        fetch(endPiontURL, {
            method: 'POST',
            headers: {
                'X-CSRFToken' : getCookie('csrftoken'),
            },
        }).then(response => {
            if (response.ok) {
                button.closest('li').classlist.remove('unread');
            }
        });
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++ ) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>