{% extends "base/auth_base.html" %}
{% load static %}
{% block content %}


<style>
    body{margin-top:20px;
        }
        .pricing-content{position:relative;}
        .pricing_design{
            position: relative;
            margin: 0px 15px;
        }
        .pricing_design .single-pricing{
            background:linear-gradient(300deg, #36b9da 10%, #225e5c 70%);
            padding: 60px 40px;
            border-radius:30px;
            box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
            position: relative;
            z-index: 1;
            color: aliceblue;
        }
        .pricing_design .single-pricing:before{
            width: 100%;
            height: 100%;
            border-radius: 18px 18px 190px 18px;
            border: 1px solid #eee;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
        .price-head{}
        .price-head h2 {
            margin-bottom: 20px;
            font-size: 26px;
            font-weight: 600;
        }
        .price-head h1 {
            font-weight: 600;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        .price-head span{}
        
        .single-pricing ul{list-style:none;margin-top: 30px;}
        .single-pricing ul li {
            line-height: 36px;
        }
        .single-pricing ul li i {
            background: linear-gradient(300deg, #15b2d8 10%, #0d2e2d 70%);
            color: #fff;
            width: 20px;
            height: 20px;
            border-radius: 30px;
            font-size: 11px;
            text-align: center;
            line-height: 20px;
            margin-right: 6px;
        }
        .pricing-price{}
        
        .price_btn {
            background: linear-gradient(300deg, #15b2d8 10%, #0d2e2d 70%);
            padding: 10px 30px;
            color: #fff;
            display: inline-block;
            margin-top: 20px;
            border-radius: 2px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }
        .price_btn:hover{background:#326db1;}
        a{
        text-decoration:none;    
        }
        
        .section-title {
            margin-bottom: 60px;
        }
        .text-center {
            text-align: center!important;
        }
        
        .section-title h2 {
            font-size: 45px;
            font-weight: 600;
            margin-top: 0;
            position: relative;
            text-transform: capitalize;
        }

        @media (max-width: 767px) {
            .pricing_design {
              margin-bottom: 10px;
            }
          }
</style>

<section id="pricing" class="pricing-content section-padding">
    
	<div class="container">					
		<div class="section-title text-center">
            <h1>Pricing & Plans</h1>
			<p>Explore our Pricing and Plans.</p>
		</div>		
   		
		<div class="row text-center">
            {% for product in products %}				
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
				<div class="pricing_design">
					<div class="single-pricing">
						<div class="price-head">		
							<h2>{{product.name}}</h2>
						</div>
						<ul>
							<li><b>Unlimited</b> Support</li>
						</ul>
						<div class="pricing-price">
							
						</div>
						<a href="{% url 'products:product-detail' product.id %}" class="price_btn">View</a>
					</div>
				</div>
			</div><!--- END COL -->
            {% endfor %}	  
		</div><!--- END ROW -->
 
	</div><!--- END CONTAINER -->
</section>



{% endblock content %}