{% extends "base/auth_base.html" %}
{% load static %}
{% block content %}
<script src="https://js.stripe.com/v3/"></script>
<style>
  body{
    background:#eee;
}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
    margin-top: 67px;
}
.text-reset {
    --bs-text-opacity: 1;
    color: inherit!important;
}
a {
    color: #5465ff;
    text-decoration: none;
}
</style>

<div class="container-fluid">

  <div class="container">
    <!-- Title -->
    <div class="d-flex justify-content-between align-items-center py-3">
      <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #16123222</h2>
    </div>
  
    <!-- Main content -->
    <div class="row">
      {% for price in prices %}
      <div class="col-lg-8">
        <!-- Details -->
        <div class="card mb-4">
          <div class="card-body">
            <div class="mb-3 d-flex justify-content-between">
              <div>
                <span class="badge rounded-pill bg-info">{{product.name}}</span>
              </div>
              <div class="d-flex">
                <!-- <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text">Invoice</span></button> -->
                <a href="{% url 'products:product-list' %}"><button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text">Back</span></button></a>
                <form action="{% url 'products:create-checkout-session' price.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Checkout</button>
                </form>
              </div>
            </div>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex mb-2">
                      <div class="flex-lg-grow-1 ms-3">
                        <h6 class="small mb-0"><a href="#" class="text-reset">{{product.description}}</a></h6>
                      </div>
                    </div>
                  </td>
                  <td class="text-end">${{price.price}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="fw-bold">
                  <td colspan="2">TOTAL</td>
                  <td class="text-end">${{price.price}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- Payment -->
        <!-- <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <h3 class="h6">Payment Method</h3>
                <p>Visa -1234 <br>
                Total: $169,98 <span class="badge bg-success rounded-pill">PAID</span></p>
              </div>
              <div class="col-lg-6">
                <h3 class="h6">Billing address</h3>
                <address>
                  <strong>John Doe</strong><br>
                  1355 Market St, Suite 900<br>
                  San Francisco, CA 94103<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      {% endfor %}
      <div class="col-lg-4">
        <!-- Customer Notes -->
        <!-- <div class="card mb-4">
          <div class="card-body">
            <h3 class="h6">Customer Notes</h3>
            <p>
              {{product.desc}}
            </p>
          </div>
        </div> -->
        <div class="card mb-4">
          <!-- Shipping information -->
          <!-- <div class="card-body">
            <h3 class="h6">Service Information</h3>
            <strong>FedEx</strong>
            <span><a href="#" class="text-decoration-underline" target="_blank">FF1234567890</a> <i class="bi bi-box-arrow-up-right"></i> </span>
            <hr>
            <h3 class="h6">Address</h3>
            <address>
              <strong>John Doe</strong><br>
              1355 Market St, Suite 900<br>
              San Francisco, CA 94103<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div> -->
        </div>
      </div>
    </div>
  </div>
    </div>

{% endblock content %}