{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="section">
  <div class="container">
      <div class="row">
          <div class="title-area">
              <h2>Our Services</h2>
              <div class="separator separator-danger">✻</div>
              <p class="description">We provide compassionate and expert care to our community. You are at the center of everything we do. Let us be your healthcare partner.</p>
          </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-0 shadow">
    <img src="{% static 'img/service1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title mb-0">Primary Care</h5>
      <div class="card-text text-black-50">Your personalized medical professionals.</div>
    </div>
  </div>
</div>
<!-- Team Member 2 -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-0 shadow">
    <img src="{% static 'img/service2.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title mb-0">Dermatology</h5>
      <div class="card-text text-black-50">Your skin care made easy.</div>
    </div>
  </div>
</div>
<!-- Team Member 3 -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-0 shadow">
    <img src="{% static 'img/service3.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title mb-0">Team Member</h5>
      <div class="card-text text-black-50">Web Developer</div>
    </div>
  </div>
</div>
<!-- Team Member 4 -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-0 shadow">
    <img src="{% static 'img/service4.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title mb-0">PrEP Therapy</h5>
      <div class="card-text text-black-50">Stay safe if you are at high exposure of HIV.</div>
    </div>
  </div>
</div>
</div>
  </div>
</div>


<div class="section section-our-team-freebie">
  <div class="parallax filter filter-color-black">
      <div class="image" style="background-image:url("{% static 'img/header-2.jpeg' %}")>
      </div>
      <div class="container">
          <div class="content">
              <div class="row">
                  <div class="title-area">
                      <h2>Our Teams</h2>
                      <div class="separator separator-danger">✻</div>
                      <p class="description">Rely on established and competent professionals.</p>
                  </div>
              </div>

              <div class="team">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="card card-member">
                                      <div class="content">
                                          <div class="avatar avatar-danger">
                                              <img alt="..." class="img-circle" src="{% static 'img/team1.jpg' %}"/>
                                          </div>
                                          <div class="description">
                                              <h3 class="title">Dr Sai</h3>
                                              <p class="small-text">Consultant anesthesiologist</p>
                                              
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="card card-member">
                                      <div class="content">
                                          <div class="avatar avatar-danger">
                                              <img alt="..." class="img-circle" src="{% static 'img/team2.jpg' %}"/>
                                          </div>
                                          <div class="description">
                                              <h3 class="title">Dr Samuel</h3>
                                              <p class="small-text">Consultant cardiothoracic</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="card card-member">
                                      <div class="content">
                                          <div class="avatar avatar-danger">
                                              <img alt="..." class="img-circle" src="{% static 'img/team3.jpg' %}"/>
                                          </div>
                                          <div class="description">
                                              <h3 class="title">Dr Sarra</h3>
                                              <p class="small-text">Consultant dermatologist</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="section section-our-clients-freebie">
  <div class="container">
      <div class="title-area">
          <h5 class="subtitle text-gray">Here are some</h5>
          <h2>Patients Testimonials</h2>
          <div class="separator separator-danger">∎</div>
      </div>

      <ul class="nav nav-text" role="tablist">
          <li class="active">
              <a href="#testimonial1" role="tab" data-toggle="tab">
                  <div class="image-clients">
                      <img alt="..." class="img-circle" src="{% static 'img/faces/face_5.jpg' %}"/>
                  </div>
              </a>
          </li>
          <li>
              <a href="#testimonial2" role="tab" data-toggle="tab">
                  <div class="image-clients">
                      <img alt="..." class="img-circle" src="{% static 'img/faces/face_6.jpg' %}"/>
                  </div>
              </a>
          </li>
          <li>
              <a href="#testimonial3" role="tab" data-toggle="tab">
                  <div class="image-clients">
                      <img alt="..." class="img-circle" src="{% static 'img/faces/face_2.jpg' %}"/>
                  </div>
              </a>
          </li>
      </ul>


      <div class="tab-content">
          <div class="tab-pane active" id="testimonial1">
              <p class="description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit error, est rerum delectus qui animi hic molestias ratione natus et, voluptate asperiores doloribus, cumque minima ipsam consequuntur. Eligendi, adipisci ad.
              </p>
          </div>
          <div class="tab-pane" id="testimonial2">
              <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt ex, eius perspiciatis similique nisi harum veritatis corrupti debitis cumque amet doloremque accusamus unde velit natus hic voluptatem magni, vero ab.
              </p>
          </div>
          <div class="tab-pane" id="testimonial3">
              <p class="description"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima exercitationem est, consequuntur optio, minus sed, fuga tempora eaque cumque atque in commodi cupiditate delectus alias architecto vero asperiores quod ut!
              </p>
          </div>

      </div>

  </div>
</div>


<div class="section section-small section-get-started">
      <section id="contact" class="card m-4 p-4">
          <div class="container">
              <div class="row text-center">
                
                  <div class="col-sm-6">
                  <div class="contact-detail-box">
                    <i class="far fa-envelope text-colored fa-3x"></i>
                    <h4>Send Your Message Here</h4>
                    <abbr title="Phone">P:</abbr> (+234) 903 251 3401<br>
                    E: <a href="mailto:nwokporochukwuebuka@gmail.com" class="text-muted">email@email.com</a>
                  </div>
                </div><!-- end col -->
        
                <div class="col-sm-6">
                  <div class="contact-detail-box">
                    <i class="fa fa-map-marker fa-3x text-colored"></i>
                    <h4>Our Location</h4>
        
                    <address>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                  </address>
                  </div>
                </div><!-- end col -->
        
        
        
              </div>
              <!-- end row -->
        
        
              <div class="row">
        
                <!-- Contact form -->
                <div class="col-sm-6">
                  <form role="form" name="ajax-form" id="ajax-form" method="POST" class="form-main" action="{% url 'home' %}">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="name2">Name</label>
                      <input class="form-control" id="name2" name="name" type="text" placeholder="name">
                      <div class="error" id="err-name"style="display: none;">Please enter name</div>
                    </div> <!-- /Form-name -->
        
                    <div class="form-group">
                      <label for="email2">Email</label>
                      <input class="form-control" id="email2" name="email" type="text" placeholder="email">
                      <div class="error" id="err-emailvld"style="display: none;">E-mail is not a valid format</div> 
                    </div> <!-- /Form-email -->
        
                    <div class="form-group">
                      <label for="message2">Message</label>
                      <textarea class="form-control" id="message2" name="message" rows="5" placeholder="message">Message</textarea>
        
                      <div class="error" id="err-message"style="display: none;">Please enter message</div>
                    </div> <!-- /col -->
        
                    <div class="row">            
                        <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Send</button>
                      </div> <!-- /col -->
                    </div> <!-- /row -->
        
                  </form> <!-- /form -->
                </div> <!-- end col -->
        
              </div> <!-- end row -->
                  
            </div>
      </section>
  </div>
</div>
{% endblock content %}