{% extends 'consultancy/prebase.html' %}
{% load i18n %}
{% load static %}

{% block content %}


  <!-- ======= hero Section ======= -->

  <section id="hero">

    <div class="hero-container">


      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url({% static 'assets/img/hero-carousel/1.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">We are professional</h2>
                <p class="animate__animated animate__fadeInUp">Empower yourself with the tools, tips and techniques to find happiness and success in your dating life as well as in your relationship</p>
                <p class="animate__animated animate__fadeInUp">In Need of Consultancy?</p>
                <a href="/clientclick" class="btn-get-started scrollto animate__animated animate__fadeInUp">Take Appiontment</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url({% static 'assets/img/hero-carousel/2.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">We are professional</h2>
                <p class="animate__animated animate__fadeInUp">Empower yourself with the tools, tips and techniques to find happiness and success in your dating life as well as in your relationship</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url({% static 'assets/img/hero-carousel/3.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">We are professional</h2>
                <p class="animate__animated animate__fadeInUp">Empower yourself with the tools, tips and techniques to find happiness and success in your dating life as well as in your relationship</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url({% static 'assets/img/hero-carousel/4.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">We are professional</h2>
                <p class="animate__animated animate__fadeInUp">Empower yourself with the tools, tips and techniques to find happiness and success in your dating life as well as in your relationship</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url({% static 'assets/img/hero-carousel/5.jpg' %})">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">We are professional</h2>
                <p class="animate__animated animate__fadeInUp">Empower yourself with the tools, tips and techniques to find happiness and success in your dating life as well as in your relationship</p>
                <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->



  {% endblock content %}


